#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
body {
    /*background-image:url("taust.jpg)");*/
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #131623;
}

nav a.router-link-exact-active {
    color: #e88d15;
}

.iconStyleEditWhite {
    cursor: pointer;
    color: #ffffff;
    height: 15px;
}